{% extends "base2.html" %}

{% block content %}
<body class="img-fluid" style="background-image: url({{ url_for('static', filename='ImagenesCodigo/033-1748-10.png') }});background-size: cover; ">
    <div class="container py-4 col-md-8 offset-md-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
                ">
            <div class="card-body p-5 shadow-5 text-center">    
            <form method ='POST' action = "/Administrador/ActualizarBaseDeDatos" >
                <div>
                    Introduce el número de peticiones: <p><input type="number" tittle="Número de peticiones" name="datos" value="300"><p/>
                </div>
                <div>
                    Introduce el tiempo de espera cada nº peticiones (seg): <p><input type="number" tittle="Tiempo en segundos por el numero de peticiones" name="tiempoCantidad" value="1452"><p/>
                </div>
                <div>
                    Introduce el tiempo de cada petición (seg): <p><input type="number" tittle="Tiempo en segundos de cada peticion" name="tiempoDia" value="1"><p/>
                </div>
                <div>
                    <p><input type ="submit" value="Buscar datos"/><p/>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}