{% extends "base2.html" %}

{% block content %}
<body class="img-fluid" style="background-image: url({{ url_for('static', filename='images/fondoHome.jpg') }});background-size: cover; ">
    <div class="container py-4 col-md-8 offset-md-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
                ">
            <div class="card-body p-5 shadow-5 text-center">    
            <form method ='POST' action = "/Administrador/ActualizarBaseDeDatos" >
                <input type="number" tittle="Número de peticiones" name="datos" value="300">
                <input type="number" tittle="Tiempo en segundos por el numero de peticiones" name="tiempoCantidad" value="1452">
                <input type="number" tittle="Tiempo en segundos de cada peticion" name="tiempoDia" value="1">
                <input type ="submit" value="Guardar"/>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}