<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> XacoMeter II </title>
    </head>
<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('home') }}" class="navbar-item">
                                INICIO
                            </a>
                            <a href="{{ url_for('Login') }}" class="navbar-item">
                                ADMINISTRADOR
                            </a>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>