<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> BOADILLA DEL CAMINO </title>
    </head>
    <body style="background-color:pink;">
        <h1>XacoMeter II</h1>
        <p>BOADILLA DEL CAMINO</p>
        <form method="post">
            <p><input type="submit" value="Canal de Castilla" name="CanalDeCastilla"/></p>
            <p><input type="submit" value="Iglesia parroquial de Nuestra Señora de la Asuncion" name="IglesiaParroquialDeNuestraSeñoraDeLaAsuncion"/></p>
            <p><input type="submit" value="Rollo de Justicia de la Villa" name="RolloDeJusticiaDeLaVilla"/></p>


            
        </form>
        
    </body>
    
</html>