<style>
.col{
    height: 150px;
    align-items: center;
    justify-content: center;
}
</style>
{% extends "base2.html" %}

{% block content %}
<div class="container">
    <div class="row row-cols-auto">
      <div class="col" >
        <img class= "col" src="{{ url_for('static',filename='images/Burgos/Burgos_CruceroNuñoRasura.jpg')}}">
        <a class="link "  href="{{ url_for('Burgos') }}">
            Crucero C/Nuño rasura
        </a>
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
{% endblock %}