<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="static/images/conchaLogo.png" type="image/png">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="static/fontawesome/css/fontawesome.min.css">
        <title>XacoMeterII</title>
        {%include 'barraNavegacion.html'%} 
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
        
      </head>
    
      <body>
        
        <center>
        <h2>Localizaciones del patrimonio cultural del Camino de Santiago</h2>
        
        </script>
        <div>{{ubicaciones[0]}}</div>
        <div id="map" style="height: 500px; width: 800px;"></div>
        
        <script type="text/javascript">
            
              // Crear un mapa y especificar su div contenedor y opciones
              var map = L.map('map', {
                center: [42.37014,-5.030849],
                zoom: 8,
                // Añadir capas al mapa
                
              });
              L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
               maxZoom: 18
              }).addTo(map);

              var contador={{marcadores}}.length
              for (var i = 0; i < contador; i++) {
                latitud={{marcadores}}[i][0]
                longitud={{marcadores}}[i][1]
                //denominacion={{ubicaciones}}
                var marker = L.marker([latitud,longitud]).addTo(map)
                //marker.bindPopup(denominacion);
                .bindPopup(`<b>${denominacion}</b>`);
                };
              
          </script>
          
        </center> 
        
      </body>
    </html>
