<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> XacoMeter II - Home </title>
    </head>
    <body style="background-color:skyblue;">
        <h1>XacoMeter II</h1>
        <p>TFG - Natalia Franco Peciña</p>
        <center>
        <form method="post">
            <p><input type="submit" value="Redecilla Del Camino" id="linkBurgos" name="RedecillaDelCamino"/></p>
            <p><input type="submit" value="Castildelgado" id="linkLeon" name="Castildelgado"></p>
            <p><input type="submit" value="Belorado" id="linkBurgos" name="Belorado"/></p>
            <p><input type="submit" value="VillafrancaMontesDeOca" id="linkLeon" name="VillafrancaMontesDeOca"/></p>
            <p><input type="submit" value="SanJuanDeOrtega" id="linkBurgos" name="SanJuanDeOrtega"/></p>
            <p><input type="submit" value="Atapuerca" id="linkLeon" name="Atapuerca"/></p>
            <p><input type="submit" value="IbeasDeJuarros" id="linkBurgos" name="IbeasDeJuarros"/></p>
            <p><input type="submit" value="Burgos" id="linkLeon" name="Burgos"/></p>
            <p><input type="submit" value="Tardajos" id="linkBurgos" name="Tardajos"/></p>
            <p><input type="submit" value="Hontanas" id="linkLeon" name="Hontanas"/></p>
            <p><input type="submit" value="Castrojeriz" id="linkBurgos" name="Castrojeriz"/></p>
            <p><input type="submit" value="IteroDeLaVega" id="linkLeon" name="IteroDeLaVega"/></p>
            <p><input type="submit" value="BoadillaDelCamino" id="linkBurgos" name="BoadillaDelCamino"/></p>
            <p><input type="submit" value="Fromista" id="linkLeon" name="Fromista"/></p>
            <p><input type="submit" value="VillacazarDeSirga" id="linkBurgos" name="VillacazarDeSirga"/></p>
            <p><input type="submit" value="CarrionDeLosCondes" id="linkLeon" name="CarrionDeLosCondes"/></p>
            <p><input type="submit" value="CervatosDeLaCueza" id="linkBurgos" name="CervatosDeLaCueza"/></p>
            <p><input type="submit" value="Villada" id="linkLeon" name="Villada"/></p>
            <p><input type="submit" value="GrajalDeCampos" id="linkBurgos" name="GrajalDeCampos"/></p>
            <p><input type="submit" value="Sahagun" id="linkLeon" name="Sahagun"/></p>
            <p><input type="submit" value="MansillaDeLasMulas" id="linkBurgos" name="MansillaDeLasMulas"/></p>
            <p><input type="submit" value="VillamorosDeMansilla" id="linkLeon" name="VillamorosDeMansilla"/></p>
            <p><input type="submit" value="VillaverdeDeSandoval" id="linkBurgos" name="VillaverdeDeSandoval"/></p>
            <p><input type="submit" value="Leon" id="linkLeon" name="Leon"/></p>
            <p><input type="submit" value="TrobajoDelCamino" id="linkBurgos" name="TrobajoDelCamino"/></p>
            <p><input type="submit" value="SanAndresDelRabanedo" id="linkLeon" name="SanAndresDelRabanedo"/></p>
            <p><input type="submit" value="LaVirgenDelCamino" id="linkBurgos" name="LaVirgenDelCamino"/></p>
            <p><input type="submit" value="ValverdeDeLaVirgen" id="linkLeon" name="ValverdeDeLaVirgen"/></p>
            <p><input type="submit" value="HospitalDeOrbigo" id="linkBurgos" name="HospitalDeOrbigo"/></p>
            <p><input type="submit" value="SanJustoDeLaVega" id="linkLeon" name="SanJustoDeLaVega"/></p>
            <p><input type="submit" value="Astorga" id="linkBurgos" name="Astorga"/></p>
            <p><input type="submit" value="RabanalDelCamino" id="linkLeon" name="RabanalDelCamino"/></p>
            <p><input type="submit" value="MolinaSeca" id="linkBurgos" name="MolinaSeca"/></p>
            <p><input type="submit" value="Ponferrada" id="linkLeon" name="Ponferrada"/></p>
            <p><input type="submit" value="Cacabelos" id="linkBurgos" name="Cacabelos"/></p>
            <p><input type="submit" value="Pieros" id="linkLeon" name="Pieros"/></p>
            <p><input type="submit" value="VillafrancaDelBierzo" id="linkBurgos" name="VillafrancaDelBierzo"/></p>
            <p><input type="submit" value="VegaDeValcarce" id="linkLeon" name="VegaDeValcarce"/></p>
            <p><input type="submit" value="LaLaguna" id="linkBurgos" name="LaLaguna"/></p>
        </center>
        </form>
        
    </body>
    
</html>