<head>
<script src="https://kit.fontawesome.com/f22c28f329.js" crossorigin="anonymous"></script>
</head>
<div class="container col-my-5 ">
<a href="#" class="brand-logo">
    <img src="{{ url_for('static',filename='images/logoConchaXacoMeter.png')}}" style="height: 30%; width:30%; margin-right: 5%;margin-top: 10%;">
    <span style="font-size: larger">XacoMeterII</span></a>
    <div class="dropdown-divider"></div>
    <div class="dropdown-divider"></div>
    <nav class="dashboard-nav-list">
        <a href="{{ url_for('home') }}" class="nav-link"></i>
            <i class="fa-sharp fa-solid fa-house"></i>
             Inicio
            </a>
        <div class="dropdown-divider"></div>
        <a href="{{ url_for('estadisticasGenerales') }}" class="nav-link"></i>
            <i class="fa-solid fa-sliders"></i>
             Estadísticas generales</a>
        <div class="dropdown-divider"></div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
                Administrador</a>
            <div class="dropdown-menu">
                <a class="nav-link" href="{{ url_for('Login') }}">Iniciar sesión</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link" href="{{ url_for('AdministradorOpciones') }}" >Opciones de Administrador</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link" href="{{ url_for('Logout') }}">Cerrar sesión</a>
            </div>
            
        </div>
    </nav>
    
</div>

