{% extends "base2.html" %}
{% block content %}
        <div class="container">
            <div class="row center-form">
                <form >
                    Fecha Inicio: <input type="date" min={{fechaInicio}} value={{fechaInicio}} name="fechaInicio">
                    Fecha Fin: <input type="date" max={{fechaFin}} value={{fechaFin}} name="fechaFin">
                    <input type="submit" value="Buscar">
                </form>
            </div>
            <div class="row">
              <div class="col-6">
                <img  class="img-fluid" src="data:image/png;base64, {{ graficoTemporal }}">
              </div>
              <div class="col-6">
                <img  class="img-fluid" src="data:image/png;base64, {{ graficoCircular }}">
              </div>
            </div>
            <div class="row">
                  <img  class="img-fluid" src="data:image/png;base64, {{ graficoMetricasPublicas }}">
              </div>
            <div class="row" align="right">
              <a class="btn-primary btn-lg btn-block" href="{{ url_for('home') }}" >Volver</a>
                            
            </div>
        </div>
        {% endblock %}

